Checks: >
  *,
  -*avoid-c-arrays,
  -*magic-numbers,
  -*non-private-member-variables-in-classes,
  -*uppercase-literal-suffix,
  -bugprone-suspicious-string-compare,
  -clang-analyzer-alpha.*,
  -clang-analyzer-valist.Uninitialized,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-static-cast-downcast,
  -cppcoreguidelines-pro-type-vararg,
  -fuchsia-default-arguments-*,
  -google-readability-todo,
  -google-runtime-references,
  -hicpp-multiway-paths-covered,
  -hicpp-no-array-decay,
  -hicpp-signed-bitwise,
  -hicpp-vararg,
  -llvm-header-guard,
  -misc-misplaced-const,
  -modernize-use-trailing-return-type,
  -readability-else-after-return,
  -readability-implicit-bool-conversion,
  -readability-named-parameter,
WarningsAsErrors: ''
HeaderFilterRegex: 'pugl/.*|test/.*'
FormatStyle: file
